[Unit]
Description=MediathekView Database Update

[Timer]
OnCalendar=0/2:00:00
Persistent=true
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
